@model IEnumerable<ChocOvation.Models.Choco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChocoName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FactoryID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChocoName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FactoryID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChocoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChocoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChocoID })
        </td>
    </tr>
}

</table>
